# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Configuración sensible y Secretos
.env
secrets/
secrets.xml

# Docker / Git
.git
.gitignore
Dockerfile
docker-compose.yml

# Datos locales
data/
*.db
*.db-wal
*.db-shm
*.log
*.bak