# Entornos virtuales
venv/
env/
.env

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos local y temporales WAL
data/
*.sqlite
*.db
*.db-wal
*.db-shm
.DS_Store

# Credenciales y Secretos
secrets/
secrets.xml

# IDEs
.vscode/
.idea/